body {
    background: url("Screenshots/tinta.png") no-repeat center center fixed;
    background-size: cover;
    text-decoration: none;
}
body{
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    color: crimson;
}


.funciona{
    display: flex;
    justify-content: center;       
    gap: 80px;                    
    text-align: center;
    padding: 60px 40px;
     margin-top: 80px; 
    
}

.funciona.bloco{
    max-width: 500px;             
}

.funciona h1 {
    font-size: 40px;
    color: rgb(117, 7, 7);        
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Fascinate Inline", system-ui;
}

.funciona p {
    font-size: 25px;
    line-height: 1.4;
    font-family: "WDXL Lubrifont TC", sans-serif;
}




