body{
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    background-color: #000000;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    color: aliceblue;
    margin: 0 1.25rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    color: crimson;
}


.funciona h1 {
    background-color: rgb(117, 7, 7);
}


