body{
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    background-color: #000000;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    color: aliceblue;
    margin: 0 1.25rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    color: crimson;
}


.funciona h1 {
  font-family: "Fascinate Inline", system-ui;
    color: rgb(117, 7, 7);
    font-size: 70px;
    margin: 20px 590px; 
}

.funciona p {
   font-size: 50px;
   text-align:center;
   margin:250px 100px; 
   margin: 250px 300 px; 
}


