body {
    background: url(Screenshots/aaaaa.png);
    background-size: cover;
    text-decoration: none;
}
body{
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    color: crimson;
}


.funciona h1 {
  font-family: "Fascinate Inline", system-ui;
  align-items: center;
  justify-content: center;
    color: rgb(117, 7, 7);
    font-size: 60px;
    margin: 60px 370px;
}

.funciona p {
   font-size: 50px;
   text-align:center;
   justify-content: center;
   margin:70px 210px; 
   font-family: "WDXL Lubrifont TC", sans-serif;
}


