body {
    background: url(Screenshots/ctts.png);
    background-size: cover;
    text-decoration: none;
    margin: 0;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    transition: 0.5s;
    color: crimson;
}


 .texto h1 {
    display: flex;
    align-items: center;
    justify-content: center;
   font-family: "Fascinate Inline", system-ui;
    color: #750707;
    font-size: 70px;
    margin: 160px 0 70px 0;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 80px 0;
    outline: 2px solid #000000;
}

.linha img {
    background-color: #ffffff;
    position: absolute;
}

.contatos div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos a, .contatos p {
    font-size: 35px;
    margin-left: 40px;
}

.instagram {
    margin-bottom: 15px;
}


footer {
    font-family: "WDXL Lubrifont TC", sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0.4rem;
    margin-top: 2rem;
}
