body {
    background: url(Screenshots/tintaa.png);
    background-size: cover;
    text-decoration: none;
    margin: 0;
    overflow-y: hidden;
}
 body{
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    background-color: #000000;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    transition: 0.5s;
    color: crimson;
}

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;

}

.body {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.header {
   color: rgb(117, 7, 7); 
   padding: 20px;
   font-family: "Fascinate Inline", system-ui;
}
    

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    margin-bottom: 5px;
    display: inline-block;
}

.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color:rgb(117, 7, 7); 
    border: 2px solid rgb(117, 7, 7);
    color: #fff;
    font-size: 14px;
    border-radius: 10px;

    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.form-control.success input{
  border-color: #2ecc71;  
}

.form-control.error input{
  border-color: #e74c3c;  
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
} 

.form-control.error i.fa-exclamation-circle{
    color:  #e74c3c;  
    visibility: visible;
} 

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

.img{
    width: 750px;
    height: auto;
    max-width: 1000%;
    border-radius: 10px;
    margin-top: 100px;
    border-radius: 25px;
}

.form-area h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.container{
    width: 60%;
    max-width:700px ;
    margin: 20px;
    padding-top: 0px;
    margin-left:800px;
    position: relative;
    top: -500px ;
    background-color: #ffff;
    padding: 30px 50px ;
    border-radius: 15px;
}

.titulo{
   margin-bottom: 0;
   padding-bottom: 0;
   text-align: center;
   top: -60px;
   font-size: 40px;
   color:rgb(117, 7, 7); 
   font-family: "Fascinate Inline", system-ui;
}

