body {
    background: url(Screenshots/tintaa.png);
    background-size: cover;
    text-decoration: none;
}
body{
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    transition: 0.5s;
    color: crimson;
}

.imagens img {
    align-items: center;
    justify-content: center;
    margin: 40px 30px; 
    border-radius: 16px;
    width: 300px;
    gap: 20px;
    transition: transform .3s ease;
    box-shadow:  0 10px 40px 5px rgba(0,0,0,0.80);
}

.image img:hover{
    transform: scale(1.1);
}



