body{
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    background-color: #000000;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    transition: 0.5s;
    color: crimson;
    font-size: 1.28rem;
}


.home-text {
  font-size: 50px;
  text-align:center;
<<<<<<< HEAD
  margin: 100px 270px; 
=======
  margin: 100px 300 px; 
>>>>>>> fa8c426b59180eb06293c54bed9d31c3b0083a10
}
.home-text h1 {
    font-family: "Fascinate Inline", system-ui;
    color: rgb(117, 7, 7);
    font-size: 70px
}

.home-text p {
    font-family: "WDXL Lubrifont TC", sans-serif;
}

.image img {
    border: 5px solid #7e0b0b;
    border-radius: 16px;
}

.title h1 {
    font-family: "Fascinate Inline", system-ui;
    color: rgb(117, 7, 7);
    font-size: 70px;
    border-bottom: 5px solid rgb(117, 7, 7);
}