body {
    background: url("Screenshots/tintaa.png") no-repeat center center fixed;
    background-size: cover;
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
}
.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    transition: 0.5s;
    color: crimson;
}


.home-text {
  font-size: 50px;
  text-align:center;
  margin: 50px 180px; 
 font-family: "WDXL Lubrifont TC", sans-serif;
}

 .home-text h1 {
    font-family: "Fascinate Inline", system-ui;
    color: rgb(117, 7, 7);
    font-size: 70px
 }
 
.botao {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background-color: #750707;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

  
footer {
    font-family: "WDXL Lubrifont TC", sans-serif;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0.4rem;
    margin-top: 2rem;
}

.whatsapp-float {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 999;
    transition: transform 0.3s ease;
}

.whatsapp-float img {
    width: 38px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

