body{
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: #ffffff;
    margin: 0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}


a {
    text-decoration: none;
    color: inherit;
}


nav.navbar, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 2rem;
    background-color: #000000;
    padding: 1.5rem 3rem; 
    box-sizing: border-box;
}

.navbar a {
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 2rem;
    transition: color 150ms ease-in-out;
}

.navbar a:hover {
    transition: 0.5s;
    color: crimson;
}


.home-text {
  font-size: 50px;
  text-align:center;
  margin: 50px 180px; 
 font-family: "WDXL Lubrifont TC", sans-serif;
}

 .home-text h1 {
    font-family: "Fascinate Inline", system-ui;
    color: rgb(117, 7, 7);
    font-size: 70px
}

.larpintmax img {
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0.3, 0.3, 0.3, 0.3);
}



